/* Banner */

.banner-container {
  display: flex;
  align-items: center;
  margin: 0 3em;
}

.banner-img {
  height: 3em;
  width: 3em;
  margin-right: 2em;
}

.blokus-pronunciation {
  margin-left: 1em;
}

/* Arena */

.arena-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1em 5em 1em 10em;
}

/* Board */

.board-container {
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  box-shadow: 0px 0px 20px #AAA;
  background-color: #B69B4C;
}

.main-board .board-cell:hover {
  background-color: #CCC;
  cursor: pointer;
}

.board-row {
  display: flex;
}

.board-cell {
  height: 1.5em;
  width: 1.5em;
  margin: 2px;
  box-shadow: 2px 1px 1px #333;
  background-color: white;
}

/* Pieces */

.piece-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 30em;
  padding: 1em 0;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0px 0px 20px #AAA;
}

.piece-list-container .empty-cell {
  background-color: transparent;
  box-shadow: none;
}

.piece-container {
  padding: 1em;
}

.piece-container:not(.selected-piece):hover {
  background-color: #EEE;
  cursor: pointer;
}

.selected-piece {
  background-color: #DDD;
}

/* Players */

.player-list-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 20px #AAA;
}

.player-container {
  margin: 1em;
  padding: 1em;
  box-shadow: 0px 0px 20px #AAA;
  cursor: default;
}

.player-container:not(.selected-player):not(:hover) {
  opacity: 0.7;
}

.player-container:not(.selected-player):hover {
  cursor: pointer;
}
