@import "./constants.scss";

////////////
// Banner //
////////////

.banner-container {
  display: flex;
  align-items: center;
  margin: 0 48px;

  .banner-img {
    height: 48px;
    width: 48px;
    margin-right: 32px;
  }

  .blokus-pronunciation {
    margin-left: 16px;
  }
}

///////////
// Arena //
///////////

.arena-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 16px 80px;
}

///////////
// Board //
///////////

.board-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0 0 20px #AAA;
  background-color: $canvasYellow;

  .board-row {
    display: flex;

    .board-cell {
      height: $boardCellSize;
      width: $boardCellSize;
      background-color: white;
      border-width: $boardCellBorder;
      border: 1px solid $canvasYellow;
      @include playerColors;

      &.highlighted {
        cursor: pointer;
      }
    }
  }
}

////////////
// Pieces //
////////////

.piece-control-container {
  display: flex;
  flex-direction: column;

  .piece-control-bottom-row {
    display: flex;
    justify-content: space-between;

    .piece-transform-container {
      display: flex;

      .piece-transform-icon {
        margin: 16px 0 0 16px;
        padding: 8px;
        background-color: white;
        box-shadow: 0 0 10px #AAA;
        cursor: pointer;
      }
    }

    .pass-button {
      display: flex;
      align-items: center;
      margin: 16px 16px 0 0;
      padding: 12px;
      background-color: #EEE;
      box-shadow: 0 0 10px #AAA;
      cursor: pointer;
    }
  }

  .piece-list-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 0 20px #AAA;

    .piece-container {
      padding: 8px;

      &.selected-piece {
        background-color: #DDD;
      }

      &:not(.selected-piece):hover {
        background-color: #EEE;
        cursor: pointer;
      }

      .board-container {
        background-color: transparent;
        box-shadow: none;

        .board-cell {
          width: $boardCellSize / 2;
          height: $boardCellSize / 2;
          border-size: $boardCellBorder / 2;

          &.empty-cell {
            background-color: transparent;
            border-color: transparent;
          }
        }
      }
    }
  }
}

/////////////
// Players //
/////////////

.player-list-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 14px;
  background-color: white;
  box-shadow: 0 0 20px #AAA;

  .player-container {
    margin: 8px;
    padding: 8px;
    box-shadow: 0 0 10px #AAA;
    cursor: default;
    color: white;
    @include playerColors;

    &:not(.selected-player) {
      opacity: 0.6;
    }
  }
}
